/* main body background settings */
body {
    background-color: #fffff0;
    font-family: Arial, Helvetica, sans-serif;

}

.smlhead {
    background-color: #717171;
    width: 98%;
    margin: auto;
    padding: .5rem;
    font-family: 'Allerta Stencil', sans-serif;
    color: #f1f1f1;
    font-size: 1rem;
    position: sticky;
    top: .2rem;
    z-index: 90;
    display: block;
    float: left;

}

.smltitle {
    display: block;
    float: right;
    margin: 0;
    font-family: 'Allerta Stencil', sans-serif;
    color: #f1f1f1;
    font-size: 1rem;

}

/* The Overlay (background) */
.overlay {    
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgba(235,123,89, 0.9); 
    overflow-x: hidden;
    transition: 0.5s; 
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 2rem; 
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
    font-family: 'Allerta Stencil', sans-serif;
}

.overlayLogo{
    max-width: 10rem;
    margin-left: 1rem;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* main Navigation Bar Styling  */
.navLogo,
.active {
    display: none;
}

/* picture banner */
.hide {
    display: none;
}

.community {
    max-width: 95%;
}

.pictureHeader div {
    border: 10px solid #e97451;
}

/* Main Body Styling */
.mainContainer {
    padding: 1rem;
    background: #e97451;
    margin: .5rem;
    box-shadow: 0 1px 0 0 #9d9d9d;
    display: flex;
    /* max-width: 98%; */
    flex-wrap: wrap;
}

.card {
    background: #9d9d9d;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}



.social {
    position: relative; 
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}


.picture {
    max-width: 95%;
    margin: auto;
    display: block;
    z-index: 6;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    color: #f1f1f1;
    font-size: 2rem;
    display: block;
    margin: auto;
}



/* -----------------------slideshow styling------------------------------------- */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  /* Hide the images by default */
  .mySlides,
  .secSlides {
      display: none;
  }

  .slideImg {
      max-width: 75%;
      display: block;
      margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #e97451;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* prev/next arrows On hover, add a backround */
  .prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot,
    .secDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #e97451;
  }



/* back to top button styling */

.bck2top {
    text-transform: uppercase;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
    border-radius: 50%;
    z-index: 90; 
    max-width: 7rem;
    position: sticky;
    bottom: .5rem;
    display: block;
    float: right;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #717171;
}

.bck2top a {
    color: #f1f1f1;
    text-decoration: none;

}




/* Footer Styling */
footer {
    position: static;
    bottom: 0;
    left: 0;
    background-color: #9d9d9d;
    width: 100%;
    color: white;
    text-align: center;
}




/* --------------MEDIA QUERIES--------------- */ 
/* Media Queries one for very small screens, then one switch for 700px & one switch for 1025px */


/* nav bar media queries*/
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media (max-height: 450px) {
    .overlay a {
        font-size: 20px
            }
    
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* 700px media query focus on showing main nav bar and adjusting multi-picture banner */
@media (min-width: 700px) {
    .morebtn,
    .smlhead {
        display: none;
    }
    
    .mainHeader,
    .main-nav,
    .main-nav a,
    li a {
        background-color:#717171;
       
    } 
    
    
    .navLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-block-size: 10rem;
        border-radius: 10%;
        z-index: 23;
        margin-top: 0;
    }

    /* .dropdown, */
    .main-nav a,
    .dropbtn {
        text-align: center;
        display: block;
        padding: .5rem;
        display: block;
        position: relative;
        max-width: 100%;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Allerta Stencil', sans-serif;
        z-index: 20;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .dropbtn,
    .main-nav a:hover {
        color: #e97451;
        cursor: pointer;
    }
    
    .dropdown-content a:hover {
        background-color: #9d9d9d;
    }
    
    .main-nav a:active {
        background-color: #fffff0;
        color: #9d9d9d;
    }
    
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #9d9d9d;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: #fffff0;
        padding: 12px 16px;
        text-decoration: none;
    }
    
    /* Show the dropdown menu functions using Javascript function */
    .show {
        display:block;
    }
            .hide {
                display: block;
            }
            
            .mainHeader{
                position: sticky;
                top: .5rem;
                width: 98%;
                box-shadow: .25rem .25rem 2px 1px lightgray; 
                margin-top: .5rem;
                margin-left: .5rem;
                z-index: 100;
            }
           
            .navContainer {
                width: 98%;
                margin: 0 auto 3rem;
                padding-top: 2rem;
                padding-bottom: 5rem;
                 
            } 
            .main-nav li {
                display: inline-block;
                margin-left: -1rem;
            }

            .main-nav li a {
                font-size: 1.25rem;
            }

            .navLogo {
                max-block-size: 7rem;
                float: left;
                padding-left: 2rem;
                padding-right: 5rem;
                padding-bottom: 1rem;
            }
        
    /* broken grid Picture Banner Styling only in desktop view */
        

            .bannergrid1 {
                display: grid;
                max-width: 750px;
                max-height:500px;
                grid-template-columns: repeat(6, minmax(0, 1fr));
                grid-template-rows: 10rem 10rem 10rem 10rem;
                grid-gap: 10px;
                margin: 1rem auto;
                padding:0;
            }

            .penLogo {  
                z-index: 6;
                grid-column: 5;
                grid-row-start: 4;
                max-width: 10rem;
                margin-left: -5rem;
                margin-top: -10rem;
            }
            
            .pigment {  
                z-index: 2;
                max-height: 11rem;
                grid-column: 1;
                grid-row: 1/ span 2;
                overflow: hidden;
                opacity: 0.7;
                border-radius: 50%;
                margin-left: -1rem;
            }
            
            .community {  
                max-width: 700px; 
                z-index: 1;
                grid-column: 1 / span 6;
                grid-row: 2;
                margin-top: -10rem;
                margin-left: 3rem;
            }

            .yarn {  
                z-index: 5;
                max-height: 12rem;
                grid-column-start: 5;
                grid-row: 4;
                opacity: 0.6;
                margin-left: 0;
                margin-top: -11.6rem;
            }

            .boobies {
                z-index: 7;
                max-height: 17rem;
                grid-column: 1;
                grid-row: 3;
                margin-top: -4.5rem;
            }
            .butterfly {
                z-index: 6;
                max-height: 8rem;
                grid-column: 6;
                grid-row: 1;
                border-radius: 20%;
                margin-left: -5rem;
                opacity: 0.8;
            }

            /* flexbox media query for main body */
            .mainContainer {
                flex-direction: row;
                flex-wrap: wrap;
                width: 98%;
                justify-content: center;
            }

            .instagram-media {
                max-width: 40%;
                max-height: 75%;
            }

            


}

/* large screen media query focus on changing header, muti-picture banner and main content format */
@media (min-width: 1025px) {

    .navLogo {
        margin-top: -2rem;

    }

    .main-nav {
        display: block;
        float: right;
    }
    .main-nav li {
        float: left;
        padding-right: 1.5rem;
        background-color: #717171;
    }

    .main-nav li a,
    .dropbtn {
        font-size: 1.5rem;
    }

    .navContainer,
    .main-nav {
        max-height: 5rem;
    }
    
    /* large screen picture banner query */
    .bannergrid1 {
        display: grid;
        max-width: 90%;
        max-height:700px;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: 10rem 10rem 10rem 10rem;
        grid-gap: 20px;
        margin: 1rem auto;
        padding:1rem;;
    }

    .penLogo {  
        z-index: 6;
        grid-column: 5;
        grid-row-start: 5;
        max-width: 12rem;
        margin-top: -12rem;
    }
    
    .pigment {  
        z-index: 2;
        max-height: 15rem;
        grid-column: 1;
        grid-row: 1/ span 2;
        opacity: 0.8;
        border-radius: 50%;
    }
    
    .community {  
        max-width: 1200px;
        z-index: 1;
        grid-column: 1 / 5;
        grid-row: 1/ span 7;
        margin-top: 0;
        margin-left: 10rem;
    
    }

    .yarn {  
        z-index: 5;
        max-height: 18rem;
        grid-column-start: 5;
        grid-row: 4;
        opacity: 0.6;
        margin-left: -1rem;
        margin-top: -6rem;
    }

    .boobies {
        z-index: 7;
        max-height: 25rem;
        grid-column: 1;
        margin-top: 0;
    }
    .butterfly {
        z-index: 6;
        max-height: 18rem;
        grid-column: 6;
        grid-row: 1;
        border-radius: 20%;
        margin-left: -6rem;
    }

    /* media query for flexbox large screen */

    .mainContainer{
        
        
    }


}
 